.auth-form {
  background-color: #fff;
}

.auth-form__input {
  background-color: #fff;
}

.auth-form__input_login {
  background-color: #fff;
}

.auth-form__input_password {
  background-color: #fff;
}

.auth-form__label {
  background-color: #fff;
}

.auth-form__label_login {
  background-color: #fff;
}

.auth-form__label_password {
  background-color: #fff;
}

.auth-form__button {
  background-color: #fff;
}

.auth-form__button_submit {
  background-color: #fff;
}

.auth-form__input-label-wrapper {
  background-color: #fff;
}
