:root {
  --gap-base: 1rem;
  --padding-base: 1rem;
  --padding-mobile: 0.8rem;
  --border-color: #e0e0e0;
  --bg-white: #fff;
  --bg-light: #f9f9f9;
}

.container {
  flex-direction: row;
  gap: var(--gap-base);
  align-items: center;
  justify-content: center;

  padding: var(--padding-base);
}

/* HEADER */
.container_chat-header {
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--bg-white);
}

/* MAIN */
.container_chat-main {
  flex-grow: 1;
  gap: var(--gap-base);
  align-items: stretch;
  justify-content: space-between;
}

/* FOOTER */
.container_chat-footer {
  flex-flow: column wrap;
  border-top: 1px solid var(--border-color);
  background-color: var(--bg-light);
}

@media (width <= 768px) {
  .container_chat-main {
    flex-direction: column;
  }
}

@media (width <= 480px) {
  .container {
    padding: var(--padding-mobile);
  }
}
