:root {
  --gap-base: 1rem;
  --padding-base: 2rem;
  --padding-mobile: 1rem;
  --border-color: #e0e0e0;
  --bg-white: #fff;
  --bg-light: #f9f9f9;
}

.container {
  display: flex;
  flex-direction: row;
  gap: var(--gap-base);
  align-items: center;
  justify-content: center;

  padding: var(--padding-base);
}

.container_chat-header,
.container_chat-footer,
.container_chat-main {
  display: flex;
}

/* HEADER */
.container_chat-header {
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--bg-white);
}

/* FOOTER */
.container_chat-footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;

  flex-flow: column wrap;

  border-top: 1px solid var(--border-color);

  background-color: var(--bg-light);
}

/* MAIN */
.container_chat-main {
  gap: var(--gap-base);
  align-items: stretch;
  justify-content: space-between;

  height: 100%;
  min-height: 500px;
}

@media (width <= 768px) {
  .container_chat-main {
    flex-direction: column;
  }
}

@media (width <= 480px) {
  .container {
    padding: var(--padding-mobile);
  }
}
